@page "/CurriculoDudu"

<PageTitle>Currículo</PageTitle>

<link rel="stylesheet" href="css/estilo.css" />




    <div class="curriculo">
        <aside class="perfil">
            <img src="Eduardo.jpg" alt="Foto de Eduardo Dourado">
            <h1>Eduardo Dourado</h1>
            <p><strong>Email:</strong> angeloeduardo445@gmail.com</p>
            <p><strong>Localização:</strong> Brasil</p>
        </aside>

        <main class="conteudo">
            <section>
                <h2>Objetivo</h2>
                <p>Busco crescer profissionalmente na área de tecnologia e contribuir com projetos que façam a diferença.</p>
            </section>

            <section>
                <h2>Formação</h2>
                <ul>
                    <li>Curso Técnico em Informática</li>
                    <li>Estudando: Redes de Computadores, Banco de Dados e Programação</li>
                </ul>
            </section>

            <section>
                <h2>Conhecimentos</h2>
                <ul>
                    <li>Redes de Computadores</li>
                    <li>Banco de Dados (MySQL, SQL Server)</li>
                    <li>Linguagens de Programação: C#, HTML, JavaScript, PHP</li>
                </ul>
            </section>

            <section>
                <h2>Idiomas</h2>
                <ul>
                    <li>Português (nativo)</li>
                    <li>Inglês (avançado)</li>
                </ul>
            </section>

            <footer>
                <p><em>Atualizado em julho de 2025</em></p>
            </footer>
        </main>
    </div>



