@page "/CurriculoHg"

<PageTitle>CurriculoHg</PageTitle>

<section style="display: flex; align-items: center; gap: 20px; margin-bottom: 30px;">
    <!-- FOTO DE PERFIL -->
    <img src="https://suap.ifro.edu.br/media/alunos/150x200/97644.Vfl2WikxuIec.jpg" alt="Foto de perfil" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;" />

    <div>
        <h2>Higor Lima</h2>
        <p><strong>Email:</strong> higorlimamorais@gmail.com</p>
        <p><strong>Telefone:</strong> (69) 99298-1873</p>
        <p><strong>Endereço:</strong> Rua Joselito andrade, 584 - Ji-Paraná/RO</p>
    </div>
</section>

<section>
    <h2>Formação Acadêmica</h2>
    <ul>
        <li>
            <strong>Curso:</strong> Tecnico integrado em informática<br />
            <strong>Instituição:</strong> IFRO campus Ji-Paraná<br />
            <strong>Período:</strong> 2023 - 2025
        </li>
    </ul>
</section>

<section>
    <h2>Habilidades</h2>
    <ul>
        <li>HTML, CSS, JavaScript, C#</li>
        <li>SQL e bancos de dados relacionais</li>
        <li>Boa comunicação e trabalho em equipe</li>
    </ul>
</section>

<section>
    <h2>Idiomas</h2>
    <ul>
        <li><strong>Português:</strong> Nativo</li>
        <li><strong>Inglês:</strong> Basico (leitura e escrita)</li>
    </ul>
</section>
<section>
    <h2>Habilidades Comportamentais</h2>
    <ul>
        <li>Boa comunicação</li>
        <li>Trabalho em equipe</li>
        <li>Facilidade de aprendizado</li>
        <li>Organização e responsabilidade</li>
    </ul>
</section>