@page "/CurriculoVivi"
<h3>Curriculo</h3>


    <div class="container">
        <aside class="sidebar">
            <img src="eu_vivi.jpeg" alt="foto vivi" class="foto"> 
            <h1>Viviane Soares Guimarães</h1>
            <div class="contato">
                <p><strong>Contato</strong></p>
                <p>📞 (99) 99999-9999</p>
                <p>✉️ vivi.soares@email.com.br</p>
                <p><a href="#">Currículo Lattes</a></p>
                <p><a href="#">LinkedIn</a></p>
            </div>

            <div class="habilidades">
                <h2>Habilidades e Competências</h2>
                <ul>
                    <li>Investigação e espírito crítico</li>
                    <li>Análise de materiais e dados arqueológicos</li>
                    <li>Interpretação de dados</li>
                    <li>Metodologias de ensino</li>
                    <li>Antropologia e Arqueologia Social</li>
                    <li>Domínio do Pacote Office</li>
                </ul>
            </div>

            <div class="idiomas">
                <h2>Idiomas</h2>
                <p><strong>Inglês:</strong> C1 - Avançado</p>
                <p><strong>Africâner:</strong> B2 - Intermediário alto</p>
                <p><strong>Espanhol:</strong> A1 - Iniciante</p>
            </div>
        </aside>

        <main class="conteudo">
            <section class="resumo">
                <h2>Resumo</h2>
                <p> Tecnica em Informatica pelo Intituto Federal de Rondônia.</p>
            </section>

            <section class="experiencia">
                <h2>Experiência Profissional</h2>
                <p>
                    <strong>Estagiaria de Laboratorio de informática</strong> <br>
                    Curso de Robotica – Intituto Federal De Rondônia<br>
                    02/2023 – atual
                </p>
                
            </section>

            <section class="formacao">
           
                <ul>
                    <li>Trabalho de Conclusão: “A cor do topo: Pesquisa em andamento”.</li>
                    <li>Bolsista CNPq.</li>
                </ul>
            </section>

            <section class="publicacoes">
                <h2>Publicação de Artigos</h2>
                <ul>
                    <li>"A construção do passado e da identidade no Peru", revista <em>Estudos Latino-americanos e Cultura de Poder</em>, IFSP, 2022.</li>
                    <li>"Pesquisa de campo em arqueologia amazônica", revista <em>Ciências Humanas</em>, UFRPR, 2022.</li>
                </ul>
            </section>
        </main>
    </div>

    
