@page "/CurriculoJp"

<PageTitle>CurriculoJp</PageTitle>


<div class="curriculoJp">
        <div class="conteudo">

        <img src="ImagemJp.jpg" alt="foto jp" class="foto">
        <h1>João Paulo de Souza Barbosa dos Santos</h1>
            <p><strong>Email:</strong> Djoaopaulo744@gmail.com</p>
            <p><strong>Telefone:</strong> (69)99207-3405</p>
            <p><strong>Endereço:</strong> Rua Albino Becker, 512 - Ji-Paraná, RO</p>

            <div class="linha"></div>

            <div class="secao">
                <h2>Objetivo</h2>
                <p>Conseguir uma posição na área de tecnologia onde possa aplicar meus conhecimentos e crescer profissionalmente.</p>
            </div>

            <div class="secao">
                <h2>Formação Acadêmica</h2>
                <p>Técnico em Informática - Instituto Federal de Rondônia - Campus Ji-Paraná - 2025</p>
                <p>Assistente de Produção - SENAI - 2022 </p>
                <p>Ensino Médio Incompleto - Instituto Federal de Rondônia - Campus Ji-Paraná - 2025</p>
            </div>

            <div class="secao">
                <h2>Experiência</h2>
                <p><strong>Estagiário em Suporte Técnico</strong><br>CAERD-Companhia de Águas e Esgotos de Rondônia - jan/2024 a dez/2024</p>
                <p>Atendimento ao usuário, manutenção de computadores e redes.</p>
            </div>

            <div class="secao">
                <h2>Habilidades</h2>
                <ul>
                    <li>C#, HTML, CSS e JavaScript</li>
                    <li>Pacote Office</li>
                    <li>Boa comunicação</li>
                    <li>Trabalho em equipe</li>
                </ul>
            </div>
        </div>
 </div>

