@page "/"

<PageTitle>Apresentação</PageTitle>

<div class="intro">
<section>
    <h1>PAGINA SOBRE OS CURRICULOS DOS ALUNOS:</h1>
    <h2>Eduardo Dourado G. M. de Angelo</h2>
    <h2>Higor Morais Dos Santos Lima</h2>
    <h2>João Paulo de Souza Barbosa Dos Santos</h2>
    <h2>Viviane Soares Guimarães </h2>
</section>
</div>